[Desktop Entry]
Version=1.0
Type=Application
Name=FreeCol
Exec=freecol
Icon=data/freecol.png
Categories=Game;StrategyGame;
GenericName[oc]=Jòc d'estrategia
Comment[oc]=Un jòc d'estrategia al torn per torn basat sus "Colonization" de Sid Meier.
GenericName[eu]=Estrategia jokoa
GenericName[hsb]=Strategijowa hra
Comment[hsb]=Strategijowa hra na zakładźe kołow po hrě "Sid Meier's Colonization".
GenericName[hu]=Stratégiai játék
Comment[hu]=Sid Meier "Colonization" nevű játékán alapuló, körökre osztott stratégiai játék.
GenericName[tr]=Strateji Oyunu
Comment[tr]="Sid Meier's Colonization" oyununa dayalı bir sıra-bazlı strateji oyunu.
GenericName[pl_PL]=Gra strategiczna
Comment[pl_PL]=Turowa gra strategiczna oparta na "Kolonizacji Sida Meiera".
GenericName[tl]=Laro ng Estratehiya
Comment[tl]=Isang laro ng estratehiyang may salitan na nakabatay sa "Sid Meier's Colonization".
GenericName[uk]=Стратегічна гра
Comment[uk]=Покрокова стратегічна гра, на основі "Sid Meier's Colonization".
GenericName[de]=Strategiespiel
Comment[de]=Ein von „Sid Meier's Colonization“ inspiriertes, rundenbasiertes Strategiespiel.
GenericName[es_ES]=Juego de estrategia
Comment[es_ES]=Un juego de estrategia por turnos basado en el vídeojuego "Sid Meier's Colonization".
GenericName[ia]=Joco de strategia
Comment[ia]=Un joco de strategia a tornos basate sur "Sid Meier's Colonization".
GenericName[et]=Strateegia mäng
GenericName[ja]=戦略ゲーム
Comment[ja]=「Sid Meier's Colonization」ベースのターン制の戦略ゲーム。
GenericName[mk]=Стратешка игра
Comment[mk]=Потезна стратегија заснована на играта „Sid Meier's Colonization“.
GenericName[nl]=Strategiespel
Comment[nl]=Een strategiespel met beurten, gebaseerd op "Sid Meier's Colonization".
GenericName[eo]=Strategia ludo
Comment[eo]=Laŭvica strategia ludo bazita de «Colonization» fare de Sid Majer
GenericName[be@tarask]=Стратэгічная гульня
Comment[be@tarask]=Пакрокавая стратэгічная гульня зробленая на аснове «Калянізацыі Сыда Мэера».
GenericName[it_IT]=Gioco di Strategia
Comment[it_IT]=Un gioco di Strategia a turni basato su "Coloniziation" di Sid Meier.
GenericName[br]=C'hoari strategiezh
Comment[br]=Ur c'hoari strategiezh "tro-ha-tro" diazezet war ""Colonization" gant Sid Meier.
GenericName[ang]=Guþcræftplega
Comment[ang]=Stæpcynn guþcræftplega geƿorht æfter "Sider Meier's Colonization".
GenericName[zh@hant]=戰略遊戲
Comment[zh@hant]=基於「Sid Meier's Colonization」的回合制戰略遊戲。
GenericName[nl_BE]=Een strategiespel
Comment[nl_BE]=Een op beurten gebaseerd spel
GenericName[gl]=Xogo de estratexia
Comment[gl]=Un xogo de estratexia por quendas baseado no videoxogo "Sid Meier's Colonization".
GenericName[da]=Strategispil
Comment[da]=Et turbaseret strategispil baseret på "Sid Meier's Colonization".
GenericName[fa]=بازی استراتژیک
Comment[fa]=بازی استراتژیک نوبتی مبتنی بر بازی "Sid Meier's Colonization".
GenericName[lt]=Strateginis Žaidimas
Comment[lt]=Ėjimais pagrįstas strateginis žaidimas grindžiamas "Sid Meier's Colonization".
GenericName[pt_PT]=Jogo de Estratégia
Comment[pt_PT]=Um jogo de estratégia por turnos baseado no "Sid Meier's Colonization".
GenericName[ar]=لعبة استراتيجية
Comment[ar]=لعبة استراتيجية بالأدوار مبنية على " استعمار Sid Meier's".
GenericName[pt_BR]=Jogo de Estratégia
Comment[pt_BR]=Um jogo de estratégia por turnos baseado em "Sid Meier's Colonization".
GenericName[sk]=Strategická hra
Comment[sk]=Ťahová stratégia vytvorená na základe hry "Colonization" od Sida Meiera.
GenericName[zh_CN]=策略游戏
Comment[zh_CN]=基于"席德梅尔的殖民帝国"的回合制策略游戏。
GenericName[el]=Παιχνίδι Στρατηγικής
Comment[el]=Ένα turn-based παιχνίδι στρατηγικής βασισμένο στο "Sid Meier's Colonization".
GenericName[ms]=Permainan Strategi
Comment[ms]=Permainan strategi berasaskan giliran yang berdasarkan "Sid Meier's Colonization".
GenericName[cs_CZ]=Strategická hra
Comment[cs_CZ]=Tahová strategie inspirovaná hrou „Sid Meier's Colonization“
GenericName[nb_NO]=Strategispill
Comment[nb_NO]=Et turbasert strategispill basert på "Sid Meiers Colonization".
GenericName[fr]=Jeu de stratégie
Comment[fr]=Un jeu de stratégie au tour par tour basé sur « Colonization » de Sid Meier.
GenericName[ru]=Стратегическая игра
Comment[ru]=Пошаговая стратегия, на основе игры «Sid Meier’s Colonization».
GenericName[fi]=Strategiapeli
GenericName[ca]=Joc d'estratègia
Comment[ca]=Un joc d'estratègia per torns basat en "Sid Meier's Colonization".
GenericName[he]=משחק אסטרטגיה
GenericName[sv_SE]=Strategispel
Comment[sv_SE]=Ett turbaserat strategispel baserat på "Sid Meiers's Colonization".
GenericName[ko]=전략 게임
Comment[ko]="시드 마이어의 식민지" 에 따른 턴제 전략 게임입니다.
GenericName=Strategy Game
Comment=A turn-based strategy game based on "Sid Meier's Colonization".
GenericName[qqq]=Description of the software
Comment[qqq]="Sid Meier's Colonization" is the full name of the game and probably shouldn't be translated.
